@import 'header';

$white:#f9fcfd;
$leattercolor:#484a4b;
$black:#1c1d21;
$titleblack:#1c1d21;

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        outline: none;
        list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    color: $white;
    animation:changes 15s  infinite ;
}

main{
       
    p{
        text-align: left;
    }
    .container{
        width: 90%;
        margin:0 auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
        gap: 12px;
        .container-1{
            color: $titleblack;
            background-color: rgba(255,255,255,.6);
            padding: 12px 12px 50px;
            border-radius: 12px;
        }            
        @mixin button {
            width: 100px;
            padding: 12px;
            color: $white;
            background-color: $black;
            font-size: 1.125em;
            border-radius: 12px;
            border: none ;
        }
        .btn-1{
            @include button();
        }
        .btn-2{
            @include button();
        }
        
    }
}

@keyframes changes{
    0%{
        background: url(city.gif);
         width: 100vw;
        height: 100vh;
        background-size: cover;
    }
    20%{
        background: url(rain.gif);
         width: 100vw;
        height: 100vh;
        background-size: cover;
    }
    100%{
        background: url(city.gif);
         width: 100vw;
        height: 100vh;
        background-size: cover;
    }
}
@media screen and(max-width:700px) {
    body{
        font-size: 15px;
    } 
}
@media screen and(max-width:500px) {
    body{
        font-size: 14px;
    }
}

